.slogan{
    align-items: flex-end;
}

@media (max-width:960px){
    .slogan {
        align-items: center;
    }
    .slogan h3{
        text-align: center;
    }
   

}

body {
    background: linear-gradient(to bottom, #7FFFD4, #87CEEB);
  }